html {
    background-color:whitesmoke;

}
#family{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2{
    text-align:justify;
    font-size: larger;
    font-style: normal;
    color: black;
}
h3{
    font-size: 1rem;
    color: black;
}

.button{
    background-color:blue;
    border:black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration:dotted;
    display: inline-block;
    font-size: 14px;
    margin-left: 160px;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#habilidades{
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid;
    margin-left: 600px;

}