html {
    background-color:white;
    background-image: -webkit-linear-gradient();
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1,h2{
    text-align:justify;
    font-size: larger;
    font-style: normal;
}

.button{
    background-color:aqua;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.div{
    align-items: center;
}